<div class="latest_news">
  <input type="text" placeholder="Search...">
  <h1>Latest News</h1>
  <% @latest_news.each do |news| %>
    <%= link_to news.title, news %>
    <p><%= truncate(strip_tags(news.body), length: 100, escape: false) %></p>
    <em><%= news.created_at.to_formatted_s(:long) %></em>
  <% end %>
</div>