<div class="divider divider-centered">
<h2>Editing News</h2>
</div>

<div class="admin">
<%= link_to 'Show', @news %> |
<%= link_to 'Back', news_index_path %>
</div>

<section class="edition">
<%= render 'form' %>
</section>

