<div class="divider divider-centered">
  <h2>404 Error</h2>
</div>

<section class="error-page">
  <p>It looks like nothing was found at this location. Maybe try a search?</p>
  <fieldset>
    <input type="text" placeholder="Search..."><input type="submit" value="Search">
  </fieldset>
</section>