<div class="divider divider-centered">
  <h2>Bio</h2>
</div>

<section class="bio">
  <%= image_tag('featured-bio.jpg')%>
  <p>“It’s akin to the ancient art of Bonsai,” explains Bonn O’Brien between sips of house blend at a Brooklyn coffee shop. “It takes patience. It takes an eye for detail. It’s reverence, respect, and a steady hand all rolled into one. It’s the only way to take care of a proper beard. We take the same approach to our music.”</p>
	<p>Three years ago, the O’Brien-lead The Dapper Beards burst into the country’s collective consciousness like a Salvador Dali ‘stache thanks to their now-iconic appearance on the cover of the trendy periodical “Garden and Gun.” “The Beards Are Here, And They Will Save Folk Music” read the headline. The striking image of the four bandmates in repose, silhouetted by a SoHo sunset was an immediate viral sensation.</p>
	<p>“We sued,” says O’Brien with a twist of his mustache, “that’s how it went viral. I don’t think anyone had seen a bold move like that– a band, suing to protect their image after signing off on the cover. We owe a big thanks to The Smoking Gun for making that happen. We had approved the cover, but we hadn’t approved of the people who were going to be reading the magazine. Turns out they didn’t approach that story with the kind of reverence with which we treat our beards– the same approach we take to our music– and we didn’t appreciate that.”</p>
	<p>And the Folk pigeonhole? O’Brien didn’t take kindly to that, either.</p>
	<p>“They never took the time to ask for the spelling. It may sound like the word that is commonly used to describe some kinds of roots music, but it wasn’t the word that we were using. It’s not even the music we’re doing. Folk– and that’s the only time I’m going to use that word– is so over. We’re Fauxlk. Pronounced the same way as Folk– which, really, is the last time I’m going to use that word– but it’s spelled F-a-u-x-l-k. If you’re not going to ask us about our music, which we take great care in– similar to the way in which we care for our beards– how can we expect you to represent our movement in its proper context to your readers?”</p>
	<p>The ever-serious O’Brien and his band cared not for the lucky break– a musical outfit landing a cover on one of America’s more respected musical magazines before ever releasing an album or staging a public performance– if that break wasn’t going to come on their own terms.</p>
	<p>“We take great care in our music, which is also the way we– right, you said it– and we’ll be damned if we’re going to let some media machine run roughshod over us.”</p>
	<p>With the lawsuit now fully behind them (it was thrown out of the only court that would hear the groundbreaking piece of litigation– a television courtroom show that is, as its producers kindly reminded us, indeed legally binding within the judicial system), The Dapper Beards are now looking towards the future.</p>
	<p>“We’re the foremost representatives of Fauxlk music… the face and beards of the movement, if you will. We take that responsibility very seriously, which is the same way in, well, yeah. So, yeah, we’re serious”</p>
  <p>And when will the world get to experience this movement firsthand?</p>
	<p>“Soon,” says O’Brien. “We’re thinking about writing our first song, and maybe even playing it at an open mic really soon. But it’s not going to be one of those slapped-together open mic’s, mind you. It’s going to be a really serious one.”</p>
</section>
