.bio {
    display: flex;
    max-width: 720px;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    img {
        width: 100%;
        height: auto;
        padding-bottom: 25px;
    }
    p {
        font-weight: 400;
        color: rgba(255,255,255,.7);
        font-size: 1em;
        line-height: 1.7em;
    }
}