.contact {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  padding-bottom: 50px;
  
  main {
    width: calc(100% / 3*2);
    flex-direction: column;
  background:red;

  }
  
  
    
}