.photos {
    padding-top: 50px;
    padding-bottom: 50px;
    a {
        opacity: 1;
        transition: opacity .5s ease;
        &:hover {
            opacity: 0.8;
            transition: opacity .5s ease;
        }
    }
}